* {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('/assets/image/bg.jpeg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================
   AUTH CARD (LOGIN / REGISTER)
====================== */
.auth-container {
    display: flex;
    gap: 70px;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo img {
    width: 280px;
    margin-bottom: 20px;
}


.auth-card {
    width: 420px;
    padding: 35px;
    border-radius: 20px;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(15px);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #3AA300;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* ======================
   DASHBOARD + SIDEBAR
====================== */
.dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 260px;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(14px);
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    margin-bottom: 15px;
    font-weight: 500;
}

.sidebar a:hover {
    color: #3AA300;
}

.sidebar form {
    margin-top: auto;
}

.sidebar button {
    background: #3AA300;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
}
